from context import Context
from context import Sentence
import actions
#https://github.com/nemonik/Intellect

rule "greeting_positive":
	when:
		$conversation := Context( sentence.botAction == actions.BotActions.GREETING and  "greeting_positive" in sentence.classes and sentence.userAction ==  actions.UserActions.REPLY_ASNWER )
	then:
		out("Muy bien. Gracias por preguntar")
		log("rule greeting_positive fired")

rule "greeting_negative":
	when:
		$conversation := Context( sentence.botAction == actions.BotActions.GREETING and "greeting_negative" in sentence.classes and sentence.userAction ==  actions.UserActions.REPLY_ASNWER )
	then:
		out("Yo bien. Gracias por preguntar")
		out("Y como que estas mal?")
		log("rule greeting_negative fired")

rule "greeting_no_answer":
	when:
		$conversation := Context( sentence.botAction == actions.BotActions.GREETING and sentence.userAction !=  actions.UserActions.REPLY_ASNWER and "unknown" not in sentence.classes )
	then:
		out(u"(ironic mode on) Yo tambien estoy bien. Gracias por preguntar \xac\xac (ironic mode off)")
		log("rule greeting_no_answer fired")

rule "price_caro":
	when: 
		$conversation := Context( "car" in sentence.stemmers and "price" in sentence.classes)
	then: 
		addPreference("caro")
		out("Pillado quieres ir a un sitio caro")
		log("rule price_caro fired")

rule "price_barato":
	when: 
		$conversation := Context( "barat" in sentence.stemmers and "price" in sentence.classes)
	then: 
		addPreference("barato")
		out("Pillado quieres ir a un sitio barato")
		log("rule price_barato fired")

rule "price_medio1":
	when: 
		$conversation := Context( "medio" in sentence.stemmers and "price" in sentence.classes)
	then: 
		addPreference("medio")
		out("Pillado quieres ir a un sitio medio")
		log("rule price_medio1 fired")

rule "price_medio2":
	when: 
		$conversation := Context( "normal" in sentence.stemmers and "price" in sentence.classes)
	then: 
		addPreference("medio")
		out("Pillado quieres ir a un sitio normal")
		log("rule price_medio2 fired")
		
rule "position":
	when: 
		$conversation := Context("position" in sentence.classes)
	then: 
		addPreference("zipcode")
		out("Pillado quieres ir cerca de ese codigo postal")
		log("rule position fired")	

rule "default":
	when: 
		$conversation := Context( "unknown" in sentence.classes)
	then: 
		out(u"No entiendo lo que dices... \xbfpuedes repetir de otra manera?")
		log("rule default fired")
