from context import Context
from context import Sentence
import actions
#https://github.com/nemonik/Intellect

rule "greeting_positive":
	when:
		$conversation := Context( sentence.botAction == actions.BotActions.GREETING and  "greeting_positive" in sentence.classes and sentence.userAction ==  actions.UserActions.REPLY_ASNWER )
	then:
		out("Muy bien. Gracias por preguntar")
		log("rule greeting_positive fired")

rule "greeting_negative":
	when:
		$conversation := Context( sentence.botAction == actions.BotActions.GREETING and "greeting_negative" in sentence.classes and sentence.userAction ==  actions.UserActions.REPLY_ASNWER )
	then:
		out("Yo bien. Gracias por preguntar")
		out("Y como que estas mal?")
		log("rule greeting_negative fired")

rule "greeting_no_answer":
	when:
		$conversation := Context( sentence.botAction == actions.BotActions.GREETING and sentence.userAction !=  actions.UserActions.REPLY_ASNWER and "unknown" not in sentence.classes )
	then:
		out(u"(ironic mode on) Yo tambien estoy bien. Gracias por preguntar \xac\xac (ironic mode off)")
		log("rule greeting_no_answer fired")

rule "greeting_bad_question":
	when: 
		$conversation := Context( sentence.before != None and "greeting_negative" in sentence.before.classes)
	then: 
		out("bueno no te preocupes seguro que ir a un restaurante te quita las penas")
		log("rule greeting_bad_question fired")

rule "default":
	when: 
		$conversation := Context( "unknown" in sentence.classes)
	then: 
		out(u"No entiendo lo que dices... \xbfpuedes repetir de otra manera?")
		log("rule default fired")
